<br/>
<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row" style="font-size: 85%;">
		<div class="col-sm-8">
			
			<p>&copy; {{ 'now' | date: "%Y" }} {{ site.title | escape }}<br> 
			<a href="mailto:{{ site.email }}">{{ site.email }}</a><br>
			{{ site.affiliation }}</p>

		   <p>  </p><p>
            		  
		</div>

		<!-- <div class="col-sm-4">
            <p>{{ site.contact }}</p>
		</div> -->


		<div class="col-sm-4" style="padding-left:16px;padding-right: 16px;">
            <p>{{ site.location }}</p>
		</div>

	  </div>
	</div>
  </div>
</div>

<script type="text/javascript">
  // Open links from outside of the website in a new tab
  $(document.links).filter(function() {
    return this.hostname != window.location.hostname;
  }).attr('target', '_blank');
</script>
