<div class="well" style="margin-bottom: 19px;">
<div class="row sidebar-info">
  <img src="{{ site.url }}{{ site.baseurl }}/assets/{{ site.photo }}" class="img-responsive" />
  <center><h2 style="color: #3a3a3a;">{{ site.title }}</h2>

   {% if site.website %}<a href="{{ site.website }}" target="_blank"><i class="fa fa-home fa-2x"></i></a> {% endif %}
   {% if site.email %}<a href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a> {% endif %}
   {% if site.cv %} <a href="{{ site.cv }}" target="_blank"><i class="ai ai-cv-square ai-2x"></i></a> {% endif %}
   {% if site.orcid %} <a href="{{ site.orcid }}" target="_blank"><i class="ai ai-orcid-square ai-2x"></i></a> {% endif %}
   {% if site.linkedin %} <a href="{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a> {% endif %}
   {% if site.researchgate %} <a href="{{ site.researchgate }}" target="_blank"><i class="ai ai-researchgate-square ai-2x"></i></a> {% endif %}
   {% if site.github %} <a href="{{ site.github }}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a> {% endif %}
   {% if site.scholar %} <a href="{{ site.scholar }}" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i></a> {% endif %}

  </center>
  <div style="overflow: hidden; padding: 20px 5px; text-align: center; font-size: 85%;">
    {% assign education_range = (1..site.number_educ) | reverse %}
    {% for i in education_range %}
    {% assign education_key = "education" | append: i | append: "short" %}
    <p>{{ site[education_key] }}</p>
  {% endfor %}
  </div>
</div>

</div>

<!-- <div style="margin-bottom: 19px; "> -->
  <!-- <a class="twitter-timeline" data-height="470" data-theme="dark" href="https://twitter.com/bazilinskyy?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  <!-- <a class='twitter-timeline' data-handle='bazilinskyy' data-height='470' data-theme='dark' ></a>
<script src='https://www.athabasca.dev/content/scripts/widget.js'></script> -->
<!-- </div> -->

{% if site.data.events %}
<div class="well" style="padding: 0px">
<h4 style="padding-left: 10px">Upcoming events</h4>
  <div style="display: block; border-top: 1px solid rgba(145,165,180,.6); padding: 10px">
    <!-- how many future events to render -->
    {% assign render_limit = 5 %}
    <!-- counter of rendered events -->
    {% assign rendered = 0 %}
    <!-- iterate over events -->
    {% for event in site.data.events %}
      <!-- check if limit was reached -->
      {% if rendered == render_limit %}
        {% break %}
      {% endif %}
      <!-- extract information from dates for comparing things  -->
      {% assign start_month = event.date_start | date: "%m" %}
      {% assign start_year = event.date_start | date: "%Y" %}
      {% assign end_month = event.date_end | date: "%m" %}
      {% assign end_year = event.date_end | date: "%Y" %}
      {% assign end_formatted = event.date_end | date: '%s' %}
      {% assign today = 'now' | date: '%s' %}
      <!-- check if event is in the future -->
      {% if end_formatted > today %}
        <!-- same start and finish -->
        {% if event.date_start == event.date_end %}
          <strong>{{ event.date_start | date: "%-d.%m.%y" }}</strong>
        <!-- different month and year -->
        {% elsif start_month != end_month && start_year != end_year %}
          <strong>{{ event.date_start | date: "%-d.%m.%y" }}</strong>–<strong>{{ event.date_end | date: "%-d.%m.%y" }}</strong>
        <!-- different month -->
        {% elsif start_month != end_month && start_year == end_year %}
          <strong>{{ event.date_start | date: "%-d.%m.%y" }}</strong>–<strong>{{ event.date_end | date: "%-d.%m.%y" }}</strong>
        <!-- same month -->
        {% elsif start_month == end_month && start_year == end_year %}
          <strong>{{ event.date_start | date: "%-d" }}</strong>–<strong>{{ event.date_end | date: "%-d.%m.%y" }}</strong>
        {% endif %}
        <p>{{ event.headline }}<br/>
        <i>{{ event.location }}</i></p>
        <!-- increase counter of rendered events -->
        {% assign rendered = rendered | plus:1 %}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

